In [4]:
import pandas as pd
import numpy as np

In [5]:
corps = pd.read_pickle("../data/corps/2020/corps_2020-05-08.pkl")
print(len(corps.index))
old_corps = corps[corps['상장일'] < '2000-03-20' ]
print(len(old_corps.index))
old_corps.head()

2357
667

      종목코드     회사명        상장일
2   001250   GS글로벌 1976-06-26
7   010060     OCI 1985-07-09
10  001740  SK네트웍스 1977-06-30
12  011810     STX 1990-09-12
13  024070  WISCOM 1996-11-22

In [7]:
corps.query("회사명=='일신석재'")

        종목코드   회사명        상장일
1838  007110  일신석재 1986-03-04

In [5]:
market_cap = pd.read_pickle("../data/corps_market_cap/2020/market_cap_2020-03-19.pkl")
market_cap.dtypes

종목코드    object
시가총액     int64
dtype: object

In [6]:
stock = pd.read_pickle("../data/stocks/016250.pkl")
print(stock.dtypes)
stock.sort_values(by='date', ascending=False).reset_index(drop=True, inplace=True)

date      datetime64[ns]
close            float64
open             float64
high             float64
low              float64
volume             int64
dtype: object

In [17]:
stock.head()

        date   close    open    high     low  volume
0 1999-12-28  7480.0  7580.0  8500.0  7480.0  110874
1 2000-01-04  6590.0  6590.0  6590.0  6590.0     262
2 2000-01-05  6800.0  5800.0  7000.0  5800.0   15440
3 2000-01-06  6670.0  6030.0  6780.0  5990.0    5798
4 2000-01-07  5870.0  5870.0  5880.0  5870.0   15189

In [7]:
stock = pd.read_pickle("../data/stocks/006840.pkl")
stock.tail()

            date    close     open     high      low  volume
14861 1999-08-23  26800.0  27400.0  27400.0  26100.0   42220
14862 1999-08-20  27000.0  25000.0  28000.0  24000.0  127800
14863 1999-08-19  25850.0  22700.0  25850.0  22700.0   96620
14864 1999-08-18  22500.0  21600.0  23500.0  21100.0   88940
14865 1999-08-17  22500.0  25600.0  26200.0  22500.0   74700

In [8]:
from corp_loader import CorpLoader
corp = CorpLoader()

In [9]:
corps_cap = corp.get_crops_with_market_cap()
len(corps_cap.index)

670

In [10]:
corps_cap.head()

     종목코드     회사명        상장일           시가총액
0  006800  미래에셋대우 1975-09-30  4101960790000
1  000660  SK하이닉스 1996-12-26  3657652050000
2  015760  한국전력공사 1989-08-10  3209820385000
3  010140   삼성중공업 1994-01-28  3150574225000
4  000270   기아자동차 1973-07-21  2139316735000

In [8]:
top = corps_cap[corps_cap['종목코드'] < '000100'].reset_index(drop=True)
corps_cap[corps_cap['종목코드'].isin(top['종목코드'])]

       종목코드    회사명        상장일         시가총액
137  000060  메리츠화재 1956-07-02  56840000000
184  000070  삼양홀딩스 1968-12-27  44341645000
268  000020   동화약품 1976-03-24  27931470000
303  000040  KR모터스 1976-05-25  23680509000
431  000050     경방 1956-03-03  13707635000

In [6]:
np.sum(corps_cap["시가총액"])

63782960609500

In [15]:
corps = corp.get_corps_all(40)
len(corps.index)

175

In [10]:
result = pd.read_csv("../results/pred_data/dnn_result_data(corp_code=000100).txt")
np.sum (result.close > result.predict)

36